@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "FormMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomScripts
{
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>
}

<h2>Add Movie</h2>
@using (Html.BeginForm("Create", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        <div class="input-group">
            @Html.LabelFor(m => m.ReleaseDate)
            <div class='input-group date' id='datetimepicker1'>
                <div class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </div>
                @Html.TextBoxFor(m => m.ReleaseDate, "{0:MMM dd yyyy}", new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.ReleaseDate)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GenreId)
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genre, "Id", "Type"), "Select Genre Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GenreId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Stock)
        @Html.TextBoxFor(m => m.Stock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Stock)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'LL'
            });
        });
    </script>
}


