@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomScripts
{
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>
}
<h2>New Customer</h2>
@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true, "Please input all required fields")
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "DiscountName"), "Select MemberShip Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    <div class="form-group">
        <div class="input-group">
            @Html.LabelFor(m => m.Customer.BirthDate)
            <div class='input-group date' id='datetimepicker1'>
                <div class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </div>
                @Html.TextBoxFor(m => m.Customer.BirthDate, "{0:MMM d yyyy}", new {@class = "form-control"})
            </div>
            @Html.ValidationMessageFor(m => m.Customer.BirthDate)
        </div>


    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) Subscribed to Newsletter?
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @*<script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script*@>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'LL'
            });
        });
    </script>
}


